#container {
    padding: 25px;
}

#noteBody {
    height: 200px;
}

select {
    height: 200px!important;
}

#noteDisplay {
    padding: 20px;
    border: 1px solid #121212;
    background-color: silver;
    border-radius: 5px;
}